:root{
    --green-blue: #2364aaff;
    --carolina-blue: #3da5d9ff;
    --green-sheen: #73bfb8ff;
    --mikado-yellow: #fec601ff;
    --princeton-orange: #ea7317ff;
}
body{
    background-image: url(https://picsum.photos/id/1000/1400);
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    
    background-color: rgba(3, 246, 255, 0.31);
    height: 200px;
    border: 0.2rem  var(--princeton-orange) solid;
}
.location{
    font-size: 2rem;
    

}
.weather{
    margin: 1.2rem 0;
    font-size: 1.4rem;
    font-weight: bold;
}
input{
    background-color: rgba(3, 246, 255, 0.31);
    color: black;
    height: 2rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
}
button{
    background-color: var(--green-sheen);
    border-radius: 2rem;
    padding: 0.5rem;
    margin-top: 1rem;

}
